@media only screen and (min-width: 954px) {
    .card {
        height: 100%;
        width: 100%;
    }
}

/* @media only screen and (min-width: 1042px) {
    .card {
        width: 19rem;
        height: 25rem;
    }
}

body {
    background-color: aqua;
} */
